/*========================== Fonts========================*/
@font-face {
  font-family: 'Raleway-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/Raleway-ExtraLight.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/Raleway.woff) format('woff');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../fonts/Raleway-SemiBold.woff) format('woff');
}
/*========================== Fonts========================*/



/*=================Main Page CSS starts===================*/
* {
	margin: 0; 
	padding: 0;
}

.main_body {
	background:rgb(230,228,229); 
	font-family: 'Raleway-ExtraLight';
}
.main_nav_colour{
	background-color: rgba(0,0,0,0.7);
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 100%; height: 100vh;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 100%;
	height:100%;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 20%;
	height:100%;
	float: left;	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 5%;height:100%;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 80%;height:100%;}


.accordian li img {
	display: block;
}
.accordian ul li:hover img{
	width:100%;
	height:100%;
}
/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
	width: 100%;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}
/*=============Main Page CSS ends===============*/

.mainPage_tile1{
	width: 70%;
	background-color: rgb(217,22,30);
	top: 0px;
	color:white;
	-webkit-transform:rotate(30deg);
	transform:rotate(30deg);
	-webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}
@-webkit-keyframes myfirst {
    from {background: red;}
    to {background: yellow;}
}
.mainPage_tile2{
	width: 100%;
	background-color: rgb(240,139,25);
	top: 0px;
	color:white;
}
/*=============Main Page CSS ends===============*/

/*=========Sports & Gaming Page CSS starts==========*/
.sports_body{
	background: url("../images/tribal.png") repeat scroll 0% 0% rgb(27,27,27);
	width: 100%; 
}
.sports_title{
	font-size: 3.5em;
	color:rgb(27,27,27);
	text-align: center;
	background: url("../images/tribal2.png") repeat scroll 0% 0%;
	padding-bottom: 105px;
	padding-top: 105px;
}
.sports_button{
	height: 60px;
	width:180px;
	color: white;
	position:absolute;
	border:solid 2px white;
	background-color: rgba(0,0,0,0);
	transition:all 1s ease;
}
.sports_button:hover{
	cursor: pointer;
	background-color: white;
	color:rgb(27,27,27);
	border-radius:20px;
	height: 60px;
	width:180px;
}
.sports_button_text{
	font-family: 'Raleway-SemiBold';
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
}

.sports_title_container{
	padding-top: 190px;
	padding-bottom: 190px;
}
.sports_super6_title{
	color: white;
	font-size: 65px;
	padding-top: 150px;
	padding-right: 50px;
	margin-right: -50px;
	margin-left: -15px;
	text-align: right;
	background-color: rgb(46,204,113);
	font-family:'Raleway-ExtraLight'; 
}
.sports_super6_about{
	color:white; 
	font-size: 20px;
	text-align: right;
	padding-right: 50px;
	margin-right: -50px;
	margin-left: -15px;
	padding-bottom: 40px;
	background-color: rgb(46,204,113);
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;	
}

.sports_super6_image{
	background: url('../images/cricket.jpg');
	width:100%;
	height: 100%;
}
.sports_super6_detail{
	height:263px;
	width: 950px;
	background-color: rgba(242,241,237,0.8);
	position: relative;
	margin-top: -262px;
	margin-left: -470px;
}
.sports_super6_detail > ul >li{
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;
	font-size: 20px;
	color: rgb(30,30,30);
	letter-spacing: 0.8px;
	margin-left: 150px;
	padding-top: 40px;
	padding-bottom: 10px;
}

.sports_lan_detail_tile{
	margin-top: 316px;
}
.sports_lan_detail{
	background-color:rgb(52, 73, 94);
	padding-left: 20px;
	margin-left: -13px;
	padding-right: 20px;
	margin-right: -30px;
	margin-top: -67px;
}
.sports_lan_detail > li{
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;
	font-size: 20px;
	color: white;
	letter-spacing: 0.8px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.sports_lan{
	height:250px;
	width: 750px;
	background-color: rgba(242,241,237,0.5);
	position: relative;
	margin-top: -572px;
	margin-left: -465px;
}
.sports_lan_title{
	font-family: 'Raleway-SemiBold';
	font-size: 45px;
	color: rgb(0,0,0);
	padding-top: 100px;
	padding-left: 315px;
}

/*=========Sports & Gaming Page CSS ends==========*/

/*==========Technical Events Page CSS Starts============*/

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

.tech_body {
	background: #dff;
	font-family: 'Merriweather Sans', arial;
	text-align: center;
	padding-top: 75px;
}

/*Common styles for buttons*/
.tech_button {
	/*We will create a white to black gradient using 'background-image' with 60% opacity. This will be later merged with animated 'background-color' to give the effect of an animated gradient*/
	background-image: linear-gradient(
		rgba(255,255,255,0.6), 
		rgba(0,0,0,0.6)
	);
	
	display: inline-block;
	height: 15vh; width: 17%;
	line-height: 15vh; /*Same as height*/
	margin: 3%;
	
	color: white;
	font-size: 14px;
	font-weight: bold;
	
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#rgb {
	background-color: #FF0; /*yellow*/
	animation: rgb 3s infinite alternate;
}
@keyframes rgb {
	/* 0% will fallback to the default background-color of #rgb*/
	50% {background-color: #06F; /*blue*/ }
	100% {background-color: #F00; /*red*/}
}

#namedcolors {
	background-color: red;
	animation: namedcolors 0.3s infinite alternate;
}
@keyframes namedcolors {
	100% {background-color: orange;}
}

#hue {
	background-color: hsl(0, 100%, 50%); /*red*/
	animation: hue 3s infinite alternate;
}
@keyframes hue {
	/*hue will animate from 0 to 360. Saturation and Lightness remain constant*/
	20% {background-color: hsl(72, 100%, 50%);}
	40% {background-color: hsl(144, 100%, 50%);}
	60% {background-color: hsl(216, 100%, 50%);}
	80% {background-color: hsl(288, 100%, 50%);}
	100% {background-color: hsl(360, 100%, 50%);}
}

#saturation {
	/*0% saturated red = grey*/
	background-color: hsl(0, 0%, 50%); 
	animation: saturation 3s infinite alternate;
}
@keyframes saturation {
	/*100% saturated red*/
	100% {background-color: hsl(0, 100%, 50%); }
}

#lightness {
	/*0% lightness = black*/
	background-color: hsl(0, 100%, 0%); 
	animation: lightness 3s infinite alternate;
}
@keyframes lightness {
	/*50% lightness = red*/
	50% {background-color: hsl(0, 100%, 50%); }
	/*100% lightness = white*/
	100% {background-color: hsl(0, 100%, 100%); }
}

/*animating gradients to flat colors - a bit complex*/
#topflat {
	color: #999;
	/*a transparent-black gradient above white base, making it a white-black gradient*/
	background-color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0), black);
	animation: topflat 3s infinite alternate;
}
@keyframes topflat {
	100% {background-color: black;}
}

#bottomflat {
	color: #999;
	/*a white-transparent gradient above black base, making it a white-black gradient*/
	background-color: black;
	background-image: linear-gradient(white, rgba(255, 255, 255, 0));
	animation: bottomflat 3s infinite alternate;
}
@keyframes bottomflat {
	100% {background-color: white;}
}

/*==========Technical Events Page CSS Ends============*/
