/*========================== Fonts========================*/
@font-face {
  font-family: 'Raleway-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/Raleway-ExtraLight.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/Raleway.woff) format('woff');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../fonts/Raleway-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/ubuntu.woff) format('woff');
}
/*========================== Fonts========================*/



/*=================Main Page CSS starts===================*/
* {
	margin: 0; 
	padding: 0;
}
.main_nav_color{
	background-color: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.5);
}
.main_nav_color .navbar-brand , .main_nav_color .navbar-nav > li > a{
	color: #000;
}
.cover{
background:url('../images/bg01-crop.png') repeat-x scroll 0% 0% #181719;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width:100%; 
	height: 430px;
	overflow:hidden;
	
	/*Time for some styling*/
	margin: 0px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 280px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
width: 1100px;

}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
	width: 1100px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none !important;
	padding: 20px;
	font-size: 16px;
}
/*styling of circles below accordian*/
.li_space{
width:200px;
height:150px;
float:left;
padding-top:50px !important;
margin-top:30px;
}
.last{

}
.left_padding{
padding-left:50px;
padding-top:50px !important;
}
.row1{
margin-top:110px;
margin-bottom:10px;
padding-top:120px;
padding-bottom:160px;
padding-right:0px  !important;
margin-right:0px !important;
}
.border{
margin-top:20px;
border-bottom:1px solid;
}
.round{
width:130px;
height:130px;
float:right;
border:5px solid #282729;
border-radius:10px;
text-align:center;
line-height:11em;
transform:rotate(45deg);
}
.icon-size{
font-size:50px;
transform:rotate(25deg);
color:#D24726;
}
.row1-text{
font-size:19px;
font-weight:bold;
letter-spacing: 1px;
}
.main_body h1{
color:#DB6648 !important;
}
.box{
height:300px;
width:100%;
background: url('../images/6.jpg') repeat!important;
}
.main_body div{
transition:all .5s ease-in .02s;
-webkit-transition:all .5s ease-in .02s;
-moz-transition:all .5s ease-in .02s;
}
#overlay{
background:rgba(0,0,0,.75);
text-align:center;
padding:110px 0px 120px;
opacity:0;
}
.box:hover #overlay{
opacity:1;
}

 .box:hover{
transform:scale(1.01);
-moz-transform:scale(1.01);
-webkit-transform:scale(1.01);
text-decoration:none !important;
color:orange !important;
}
#word{
font-size:50px;
font-weight:500;
}
.main_body a:hover{
text-decoration:none !important;
color:orange !important;
}
.box_right1{
height:300px;
width:100%;
background-color:;
text-align:center;
display:block;
}
.box_right2{
margin-top:20px;
display:none;

}
.pad{
padding-left:0px !important;
padding-right:0px !important;
}

.know_more{
position:absolute;
color:white;
border:1px solid #282729 !important; 
border-radius:0px !important;
padding:20px 30px !important; 
bottom:0px;
left:auto;
background:rgba(0,0,0,.75);
transition:all .5s ease-in-out 1s;
-webkit-transition:all .5s ease-in-out 1s;
-moz-transition:all .5s ease-in-out 1s;
}

.know_more_sponsors{
margin-top:30px;
margin-bottom:30px;
float:left;
color:white;
border:1px solid #282729 !important; 
border-radius:90px !important;
padding:30px 80px !important;
bottom:20px;
left:200px;
background:rgba(0,0,0,.75);
transition:all .5s ease-in-out 1s;
-webkit-transition:all .5s ease-in-out 1s;
-moz-transition:all .5s ease-in-out 1s;
}
.row2{
margin-top:10px;
margin-bottom:10px;
margin-right:0px !important;
padding-top:50px;
padding-bottom:50px;
}
.go_round{
border-radius:50%;
border:1px solid white;
overflow:hidden;
}
.round_sponsors{
width:60px;
height:60px;
border:5px solid #282729;
border-radius:10px;
text-align:center;
line-height:11em;
transform:rotate(45deg);
 margin-bottom:25px;
margin-top:25px;
position:relative;
}

.icon-size_sponsors{
transform:rotate(25deg);
color:#D24726;
float:right;
margin-top:15px !important;
margin-right:18px !important;
}

#whole_2{
display:none;
}
/*footer*/
.row_foot{
margin-top:30px;
padding-right:0px  !important;
margin-right:0px !important;
border-bottom:1px solid;
}
.container_footer{
width:auto;
background:url('../images/bg01-small.png');
padding-right:0px !important;
}
.foot_align{
text-align:center;
padding-right:0px !important;
padding-left:0px !important;
padding-bottom:9px !important;
}
.main_body ul{
list-style:none;
}
.border_right{
border-right:2px solid;
}
.round_footer{
width:60px;
height:60px;
border-radius:50%;
background-color:white;
text-align:center;
}
.icon-size_footer{
font-size:20px;
text-align:center;
padding:20px 0px 10px;
}
.stay_in_touch{
width:400px;
height:70px;
border-radius:50px;
background:#181719;
text-align:center;

overflow:hidden;
}
.s{
font-size:30px;
padding:20px 22px;
padding-left:10px;
padding-right:10px;
overflow:hidden;
}
.register_main{
background:url('../images/keyboard-bg.jpg') fixed;
padding:50px 0px 50px;
margin-left:0px !important;
margin-right:0px !important;
}
.over_image{
text-align:center;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;

}
.main_body h3{
color:#D24726!important;
}
#footer_but{
margin-top:30px !important;
border:1px solid grey !important; 
border-radius:90px !important;
padding:25px 70px !important;
background:rgba(0,0,0,0);
transition:all .5s ease .01s;
-webkit-transition:all .5s ease .01s;
-moz-transition:all .5s ease .01s;
}
#footer_but:hover{
background:rgba(255, 255, 255, 0.1);
transform-origin:bottom;
transform:translateY(-10px);
-webkit-transform:translateY(-10px);
-moz-transform:translateY(-10px);
}
.footer_row{
text-align:center;
padding-top:20px;
margin-left:0px !important;
margin-right:0px !important;
}
.border_foot{
border-bottom:1px solid;
}
.copyright_color{
color: rgba(128, 128, 128, 0.75);
}
.copyright_color_1{
color: rgba(128, 128, 128, 0.75);
border-right:1px solid;
}
.spacing_footer{
margin-top:10px !important;
margin-bottom:10px !important;
font-size:15px;
}
#h6{
margin-bottom:0px !important;
margin-top:0px !important;
padding-top:0px !important;
padding-bottom:0px !important;
}
#h6_1{
margin-bottom:1px !important;
padding-top:0px !important;
}
.percent{
width:25% !important;
}
/*=============Main Page CSS ends===============*/

/*=============Literary Page CSS starts===============*/
.top_row{
margin-left:5px !important;
overflow:hidden;
}
.top_right{
margin-left:px;
margin-top:15px;
}
.top_left{
overflow:hidden;
}
.right_list{
padding-top:20px;
padding-bottom:15px;
padding-left:60px;
}

.top_sub{
font-size:20px;
line-height:2em;
color: rgba(128, 128, 128, 0.75)!important;
font-weight:500 !important;
}
.top_font{
line-height:2em;
color:#6B7770;
font-size:11.5pt;
font-weight:400;
}
.top2_right{
overflow:hidden;
}
.right_img{
height:200px;
}
.register_btn{
background:;
opacity:;
border:1px solid grey !important;
border-radius:0px !important;
}
.arrow{
text-align:center;
font-size:14px;
color:white;
width:60px;
height:55px;
background:#DF7366;
padding: 1.75em 0px 0.75em;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
margin: 0px 0px 0px;
box-shadow: 0 0 10px 1px white;
	-webkit-box-shadow: 0 0 10px 1px white;
	-moz-box-shadow: 0 0 10px 1px white;
}
.cone{
width:55px;
border-left: 1.6em solid #DF7366;
border-top: 2.1em solid transparent !important;
border-bottom: 2.0em solid transparent !important;
right: -3.9em;
bottom:-1px;
position:absolute;
}
.move_right{
float:right;
margin-top:-40px;
margin-bottom:0px;
color:#483949 !important;
opacity:0.7;
padding-right:170px;
}
.position{
margin-top:30px;
margin-bottom:30px;
}.position_li{
position:relative !important;
}
.arrow1{
width:210px;
height:131px;
background:grey;
padding: 1.75em 0px 0.75em;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin: 0px 0px 0px;
box-shadow: 0 0 10px 1px white;
	-webkit-box-shadow: 0 0 10px 1px white;
	-moz-box-shadow: 0 0 10px 1px white;
}
.cone1{
width:210px;
border-top: 2em solid grey;
border-left: 7.5em solid transparent !important;
border-right: 7.5em solid transparent !important;
transform:rotate(180deg);

}
.cover_lit{
background-color:beige;
}
.main_body hr{
border-color:#DF7366 !important;
opacity:0.3;
}
.move_right:hover{
color:#DF7366 !important;
opacity:1;
}
/*=============Main Page CSS ends===============*/

/*=========Sports & Gaming Page CSS starts==========*/
.sports_body{
	background: url("../images/stadium3.jpg") center center;
	background-size: 100% 100%;
}
.sports_title{
	background-color: rgba(0,0,0,0.4);
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;
	font-size: 4.5em;
	text-align: center;
	color: white;
}

.sports_button{
	height: 60px;
	width:180px;
	color: white;
	position:absolute;
	border:solid 2px white;
	background-color: rgba(0,0,0,0);
	transition:all 1s ease;
}
.sports_button:hover{
	cursor: pointer;
	background-color: white;
	color:rgb(27,27,27);
	border-radius:20px;
	height: 60px;
	width:180px;
}
.sports_button_text{
	font-family: 'Raleway-SemiBold';
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
}
.sports_button_inverse{
	height: 60px;
	width:180px;
	color: black;
	position:absolute;
	border:solid 2px black;
	background-color: rgba(0,0,0,0);
	transition:all 1s ease;
	margin-top:-550px;
	margin-left: 1090px;
}
.sports_button_inverse:hover{
	cursor: pointer;
	background-color:black;
	color:rgb(248,236,194);
	border-radius:20px;
	height: 60px;
	width:180px;
}
.sports_button_inverse_text{
	font-family: 'Raleway-SemiBold';
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
}
.sports_title_container{
	padding-top: 190px;
	padding-bottom: 190px;
}
.sports_super6_title{
	color: white;
	font-size: 65px;
	padding-top: 150px;
	padding-right: 50px;
	margin-right: -50px;
	margin-left: -15px;
	text-align: right;
	background-color: rgb(46,204,113);
	font-family:'Raleway-ExtraLight'; 
}
.sports_super6_about{
	color:white; 
	font-size: 20px;
	text-align: right;
	padding-right: 50px;
	margin-right: -50px;
	margin-left: -15px;
	padding-bottom: 40px;
	background-color: rgb(46,204,113);
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;	
}

.sports_super6_image{
	background: url('../images/cricket.jpg');
	width:100%;
	height: 100%;
}
.sports_super6_detail{
	height:275px;
	width: 950px;
	background-color: rgba(242,241,237,0.8);
	position: relative;
	margin-top: -277px;
	margin-left: -470px;
}
.sports_super6_detail > ul >li{
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;
	font-size: 20px;
	color: rgb(30,30,30);
	letter-spacing: 0.8px;
	margin-left: 150px;
	padding-top: 40px;
	padding-bottom: 10px;
}

.sports_lan_detail_tile{
	margin-top: 316px;
	margin-left: -5px;
}
.sports_lan_detail{
	background-color:rgb(52, 73, 94);
	padding-left: 20px;
	margin-left: -13px;
	padding-right: 20px;
	margin-right: -30px;
	margin-top: -50px;
}
.sports_lan_detail > li{
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;
	font-size: 20px;
	color: white;
	letter-spacing: 0.8px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.sports_lan{
	height:265px;
	width: 750px;
	background-color: rgba(242,241,237,0.5);
	position: relative;
	margin-top: -592px;
	margin-left: -465px;
}
.sports_lan_title{
	font-family: 'Raleway-SemiBold';
	font-size: 45px;
	color: rgb(0,0,0);
	padding-top: 100px;
	padding-left: 315px;
}

.sports_kite{
	width: 100%;
	background:url('../images/kite1.jpg') center center;
	background-size: 100% 100%;
	color:rgb(255,255,255);
	padding-top: 275px;
	padding-bottom: 275px;
	margin-top: -20px;
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;
}
.sports_kite_content{
	background-color: rgba(27,27,27,0.5);
	font-size: 70px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sports_kite_about{
	background-color:rgba(255,64,64,0.8);
	height: 50px;
	width: 450px;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 5px;
	position: absolute;
	margin-top: -317px;
	margin-left: 475px;
	text-align: center;
}

.sports_kite_icon{
	margin-left: -20px;
}
.sports_kite_register{
	background-color:rgb(0,164,0);
	height: 100px;
	width: 150px;
	font-size: 45px;
	color: white;
	padding-top: 25px;
	padding-left: 65px;
	position: absolute;
	margin-top: 100px;
	margin-left: 1197px;
	transition:all 1s ease;
}

.sports_kite_register:hover{
	width: 250px;
	margin-left: 1097px;
}
.sports_kite_register:hover span{
	visibility: hidden;
}
.sports_kite_register_link{
	font-size: 25px;
	position: absolute;
	color: rgb(255,255,255);
	margin-top: -55px;
	margin-left: -30px;
	visibility: hidden;
	transition:all 0.7s ease;
}

.sports_kite_register:hover .sports_kite_register_link{
	visibility: visible;
	margin-left: 50px;
}

.sports_mobile{
	width: 100%;
	background:url('../images/mobile.jpg') center center;
	background-size: 100% 100%;

}
.sports_mobile_column1{
	background-color: rgba(24,24,24,0.3);
	color: white;
	text-align: center;
}
.sports_mobile_column1:first-child{
	font-family: 'Raleway-SemiBold';
	font-size: 70px;
	padding-top: 150px;
	padding-bottom: 350px;
}
.sports_mobile_column2{
	background-color:rgba(24,24,24,0.3);
	color:white;
	text-align: center;
}
.sports_mobile_column2_list{
	font-size: 25px;
	font-family: 'Raleway-ExtraLight';
	font-weight: bold;
	padding-top: 150px;
	padding-bottom: 160px;
}

.sports_sudoku{
	width: 100% ;
	background:url('../images/sudoku1.jpg') center center;
	background-size: 100% 100%;

}
.sports_sudoku > div{
	width: 100%;
	background-color: rgba(248,236,194,0.5);
	color: rgb(24,24,24);
	font-family: 'Raleway';
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	padding-top: 20%;
}

/*=========Sports & Gaming Page CSS ends==========*/



/*==========Technical Events Page CSS Starts============*/
.tech_body {
	background: rgba(110,110,110,0.12);
	text-align: center;
}
.tech_scroll{
	overflow: hidden;
}
.tech_body a{
	text-decoration: none;
	cursor: pointer;
}
.tech_dimmer{
	position: fixed;
	z-index: 2;
	background-color: rgb(40,164,151);
	color: rgb(255,201,14);
	font-family: 'Ubuntu-Light';
	box-sizing: border-box;
	text-shadow: 3px 3px #000;
	width: 100%;
	height: 100vh;
	font-size: 85px;
    -webkit-animation: color-change 13s infinite alternate;
    -moz-animation: color-change 13s infinite alternate;
    -o-animation: color-change 13s infinite alternate;
    -ms-animation: color-change 13s infinite alternate;
    animation: color-change 13s infinite alternate;
}
.tech_dimmer:before{
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100vh;
}
.tech_showNone{
	display: none;
}
canvas {
	display: block;
	position: absolute;
	z-index: -2;
	height: 100%;
}
.tech_set_canvas {
	position: relative;
	overflow: hidden;
}
/*Common styles for buttons*/
.tech_button {
	/*We will create a white to black gradient using 'background-image' with 60% opacity. This will be later merged with animated 'background-color' to give the effect of an animated gradient*/
	background-image: linear-gradient(
		rgba(255,255,255,0.6), 
		rgba(0,0,0,0.6)
	);
	
	display: inline-block;
	height: 15vh;
	width: 18%;
	line-height: 15vh; /*Same as height*/
	margin: 3%;
	font-size: 23px;
	font-family: 'Raleway';
	text-shadow:1px 1px #000;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(255,255,255,0.6);
}
.tech_set_button{
	padding-top: 70px;
}
.tech_set_modal{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100vh;
}
.tech_set_modal .modal-content{
	background-image: linear-gradient(
		rgba(255,255,255,0.3), 
		rgba(0,0,0,0.2)
	);
}
.tech_set_modal .modal-title{
	font-size: 35px;
	text-shadow:1px 1px #555;
	color: rgb(83,223,125);
	-webkit-animation: color_title 13s infinite alternate;
    -moz-animation: color_title 13s infinite alternate;
    -o-animation: color_title 13s infinite alternate;
    -ms-animation: color_title 13s infinite alternate;
    animation: color_title 13s infinite alternate;
}
.tech_set_modal .modal-header{
	padding-bottom: 0px;
}
.tech_set_modal .modal-header,.modal-title,.modal-body,.modal-footer{
	border: 0px;
}
.tech_set_modal .modal-body .row:first-child{
	font-size: 20px;
	text-shadow:1px 1px #aaa;
	padding-bottom: 1.5%;
	font-family: 'Raleway';
}
.tech_set_modal .modal-body .row{
	margin: 2%;
}
.tech_set_modal .modal-body .row div:first-child{
	height:280px;
	width:400px;
	border-radius: 2%;
	-webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.70);
	-moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.70);
	box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.70);
}
.tech_set_modal .modal-body .row div:last-child , .tech_event_desc{
	font-size: 16px;
	font-family: 'Raleway';
	text-shadow:1px 1px #aaa;
	text-align:left;
	padding-left:7%;
}
.tech_set_modal .modal-body .row span{
	bottom: 0px;
	float: right;
	font-family: 'Raleway-SemiBold';
	text-shadow:none;	
}
.tech_set_modal .modal-footer{
	padding-top: 0%;
}
.tech_set_modal .modal-footer button{
	font-size: 18px;
	font-family: 'Raleway';
}
.tech_post {
   position: relative;
   overflow: hidden;
   -webkit-box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
   -moz-box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
   box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
}
.tech_folded-corner {
   width: 0px;
   height: 0px;
   position: absolute;
   top: 0px;
   right: 0px;
   border-width: 0;
   border-style: solid;
   background: hsla(260,5%,60%,0.2);
   -webkit-box-shadow: 2px -2px 0px #000, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
   -moz-box-shadow: 2px -2px 0px #000, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
   -webkit-border-bottom-left-radius: 15px;
   -moz-border-radius: 0 0 0 15px;
   border-radius: 0 0 0 7px;
   border-color: #fff rgba(255,255,255,0.6) transparent;
   -webkit-transition: border-width 0.3s ease-out;
   -moz-transition: border-width 0.3s ease-out;
   -ms-transition: border-width 0.3s ease-out;
   -o-transition: border-width 0.3s ease-out;
   transition: border-width 0.3s ease-out;
}
.tech_post:hover .tech_folded-corner {border-width: 0 40px 40px 0;}
.tech_folded-corner {background: hsla(260,5%,75%,0.5);}
@-webkit-keyframes color_title {
    20% {color:rgb(192,137,107);}
	40% {color:rgb(102,111,215);}
	60% {color:rgb(197,124,197);}
	80% {color:rgb(56,207,192);}
	100% {color:rgb(255,45,150);}
}
@-moz-keyframes color_title {
    20% {color:rgb(192,137,107);}
	40% {color:rgb(102,111,215);}
	60% {color:rgb(197,124,197);}
	80% {color:rgb(56,207,192);}
	100% {color:rgb(255,45,150);}
}
@-ms-keyframes color_title {
   	20% {color:rgb(192,137,107);}
	40% {color:rgb(102,111,215);}
	60% {color:rgb(197,124,197);}
	80% {color:rgb(56,207,192);}
	100% {color:rgb(255,45,150);}
}
@-o-keyframes color_title {
    20% {color:rgb(192,137,107);}
	40% {color:rgb(102,111,215);}
	60% {color:rgb(197,124,197);}
	80% {color:rgb(56,207,192);}
	100% {color:rgb(255,45,150);}
}
@keyframes color_title {
   	20% {color:rgb(192,137,107);}
	40% {color:rgb(102,111,215);}
	60% {color:rgb(197,124,197);}
	80% {color:rgb(56,207,192);}
	100% {color:rgb(255,45,150);}
}
@-webkit-keyframes color-change {
    20% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
    40% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    60% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	80% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@-moz-keyframes color-change {
    20% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
    40% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    60% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	80% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@-ms-keyframes color-change {
    20% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
    40% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    60% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	80% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@-o-keyframes color-change {
    20% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
    40% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    60% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	80% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@keyframes color-change {
    20% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
    40% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    60% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	80% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
#rgb {
	background-color: rgb(230,0,115);
	color: rgb(255,255,0);
	-webkit-animation: rgb 8s infinite alternate;
    -moz-animation: rgb 8s infinite alternate;
    -o-animation: rgb 8s infinite alternate;
    -ms-animation: rgb 8s infinite alternate;
    animation: rgb 8s infinite alternate;
}
@-webkit-keyframes rgb {
    25% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	50% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	75% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
	100% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
}
@-moz-keyframes rgb {
    25% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	50% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	75% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
	100% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
}
@-ms-keyframes rgb {
    25% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	50% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	75% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
	100% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
}
@-o-keyframes rgb {
    25% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	50% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	75% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
	100% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
}
@keyframes rgb {
    25% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	50% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	75% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
	100% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
}
#namedcolors {
	background-color: rgb(136,85,57);
	color: rgb(255,174,201);
	-webkit-animation: namedcolors 8s infinite alternate;
    -moz-animation: namedcolors 8s infinite alternate;
    -o-animation: namedcolors 8s infinite alternate;
    -ms-animation: namedcolors 8s infinite alternate;
    animation: namedcolors 8s infinite alternate;
}
@-webkit-keyframes namedcolors {
   	25% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
    50% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    75% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
    100% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
}
@-moz-keyframes namedcolors {
    25% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
    50% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    75% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
    100% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
}
@-ms-keyframes namedcolors {
    25% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
    50% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    75% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
    100% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
}
@-o-keyframes namedcolors {
    25% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
    50% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    75% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
    100% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
}
@keyframes namedcolors {
   	25% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
    50% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    75% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
    100% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
}
#hue {
	background-color: rgb(34,177,76);
	color: rgb(180,227,239);
	-webkit-animation: hue 8s infinite alternate;
    -moz-animation: hue 8s infinite alternate;
    -o-animation: hue 8s infinite alternate;
    -ms-animation: hue 8s infinite alternate;
    animation: hue 8s infinite alternate;
}
@-webkit-keyframes hue {
    25% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	50% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	75% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
	100% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
}
@-moz-keyframes hue {
    25% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	50% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	75% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
	100% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
}
@-ms-keyframes hue {
    25% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	50% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	75% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
	100% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
}
@-o-keyframes hue {
    25% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	50% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	75% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
	100% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
}
@keyframes hue {
   	25% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
	50% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	75% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
	100% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
}
#saturation {
	background-color: rgb(102,111,215);
	color: rgb(0,255,128);
	-webkit-animation: saturation 8s infinite alternate;
    -moz-animation: saturation 8s infinite alternate;
    -o-animation: saturation 8s infinite alternate;
    -ms-animation: saturation 8s infinite alternate;
    animation: saturation 8s infinite alternate;
}
@-webkit-keyframes saturation {
 	25% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
   	50% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
   	75% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
 	100% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
}
@-moz-keyframes saturation {
   	25% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
   	50% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
   	75% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
 	100% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
}
@-ms-keyframes saturation {
    25% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
   	50% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
   	75% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
 	100% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
}
@-o-keyframes saturation {
    25% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
   	50% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
   	75% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
 	100% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
}
@keyframes saturation {
   	25% {background-color: rgb(102,111,215);color: rgb(0,255,128);}
   	50% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
   	75% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
 	100% {background-color: rgb(34,177,76);color: rgb(180,227,239);}
}
#lightness {
	background-color: rgb(163,73,164);
	color: rgb(216,252,131);
	-webkit-animation: lightness 8s infinite alternate;
    -moz-animation: lightness 8s infinite alternate;
    -o-animation: lightness 8s infinite alternate;
    -ms-animation: lightness 8s infinite alternate;
    animation: lightness 8s infinite alternate;
}
@-webkit-keyframes lightness {
  	25% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    50% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
	75% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@-moz-keyframes lightness {
   	25% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    50% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
	75% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@-ms-keyframes lightness {
    25% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    50% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
	75% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@-o-keyframes lightness {
    25% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    50% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
	75% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@keyframes lightness {
   	25% {background-color: rgb(163,73,164);color: rgb(216,252,131);}
    50% {background-color: rgb(40,164,151);color: rgb(255,201,14);}
	75% {background-color: rgb(230,0,115);color: rgb(255,255,0);}
	100% {background-color: rgb(136,85,57);color: rgb(255,174,201);}
}
@media (max-width: 1100px){
	.tech_button {
		font-size: 20px;
	}
	.tech_dimmer{
		font-size: 75px;
	}
	.tech_set_modal .modal-title{
		font-size: 31px;
	}
	.tech_set_modal .modal-body .row:first-child{
		font-size: 17px;
	}
	.tech_set_modal .modal-body .row div:last-child , .tech_event_desc{
		font-size: 14px;
	}
	.tech_set_modal .modal-body .row div:last-child h3{
		font-size: 20px;
	}
	.tech_set_modal .modal-footer button{
		font-size: 15px;
	}
}
@media (max-width: 950px){
	.tech_button {
		width: 20%;
		font-size: 18px;
		text-shadow:none;
	}
	.tech_dimmer{
		font-size: 65px;
	}
	.tech_set_modal .modal-title{
		font-size: 27px;
	}
	.tech_set_modal .modal-body .row:first-child{
		font-size: 16px;
	}
	.tech_set_modal .modal-body .row div:last-child , .tech_event_desc{
		font-size: 13px;
		text-shadow:none;
	}
	.tech_set_modal .modal-body .row div:last-child h3{
		font-size: 18px;
	}
	.tech_set_modal .modal-footer button{
		font-size: 15px;
	}
}
@media (max-width: 770px){
	.tech_button {
		height: 12vh;
		line-height: 12vh; /*Same as height*/
		width: 22%;
		font-size: 16px;
		text-shadow:none;
	}
	.tech_dimmer{
		font-size: 55px;
	}
	.tech_set_modal{
		margin:0% 5% 0% 5%;
	}
	.modal:before {
		height: 0%;
	}
}
@media (max-width: 620px){
	.tech_button {
		height: 10vh;
		line-height: 10vh; /*Same as height*/
		width: 27%;
		font-size: 14px;
		text-shadow:none;
	}
	.tech_dimmer{
		font-size: 38px;
	}
	.tech_set_modal{
		margin:0% 4% 0% 4%;
	}
	.modal:before {
		height: 0%;
	}
	.tech_set_modal .modal-title{
		font-size: 25px;
	}
	.tech_set_modal .modal-body .row:first-child{
		font-size: 15px;
	}
	.tech_set_modal .modal-body .row div:last-child h3{
		font-size: 17px;
	}
}
@media (max-width: 500px){
	.tech_button {
		width: 30%;
		font-size: 13px;
	}
	.tech_set_modal .modal-body .row div:first-child{
		height:200px;
		width:280px;
	}
}
/*==========Technical Events Page CSS Ends============*/

/*=======================================Cultural Events Page CSS Starts================================================================*/


.cultural_body{
	background: url("../images/new.jpg") repeat scroll 0% 0% ;
	width: 100%; 
	
}
.cultural_body_tile3
{
	background: url("../images/drum.jpg") repeat scroll 0% 0% ;
	width: 100%; 
	
}
.cultural_title{
	font-size: 7em;
	color:white;
	text-align: center;
	
	padding-bottom: 105px;
	padding-top: 105px;

}
.cultural_title_container{
	padding-top: 190px;
	padding-bottom: 120px;
	height: 650px;
	background-color: rgba(255,255,255,0);
}



.title
{
	position: absolute;
	padding-top: 60px;
	color:white;
	font-size: 3.5em;
	font-weight: bold;
	
	padding-left: 100px;
	font-family: 'Raleway-ExtraLight';
}
.tile1
{
background-image: url('../images/d.jpg') ;
background-repeat: no-repeat;
background-position: center;
height: 635px;
}
.tile2
{
background-image: url('../images/music3.jpg') ;
background-repeat: no-repeat;
background-position: center;
height: 635px;
}
.tile3
{
background-image: url('../images/mask.jpg') ;
background-repeat: no-repeat;
background-position: center;
height: 635px;
}
.tile4
{
background-image: url('../images/guitar.jpg') ;
background-repeat: no-repeat;
background-position: center;
height: 635px;	
}
.tile5
{
background-image: url('../images/group.jpg') ;
background-repeat: no-repeat;
background-position: center;
height: 635px;		
}

.heading
{
	font-size: 7em;
	text-align: left;
	color: #5F5C5C;
	font-family: 'Raleway-ExtraLight';
	padding-top: 38px;
	padding-left: 15px;
}
.heading2
{
	padding-top: 40px;
	font-size: 7em;
	text-align: left;
	color: white;
	font-family: 'Raleway-ExtraLight';
}
.heading3
{
	padding-top: 30px;
	font-size: 7em;
	text-align: left;
	color: #E4CD56;
	font-family: 'Raleway-ExtraLight';
	
	
}
.heading4
{
	padding-top: 40px;
	font-size: 7em;
	text-align: left;
	color: white;
	font-family: 'Raleway-ExtraLight';
}
.heading4_2
{
	padding-top: -15px;
	font-size: 7em;
	text-align: left;
	color: white;
	font-family: 'Raleway-ExtraLight';
	padding-left: 50px;
}
.heading5
{
	padding-top: 40px;
	font-size: 7em;
	text-align: left;
	color: white;
	font-family: 'Raleway-ExtraLight';
}
.inner_text
{
	font-size: 2.2em;
	font-family: 'Raleway-ExtraLight';
	padding-top: 100px;
	color: black;
	padding-left: 1000px ;
	
}
.inner_text_tile2
{
	font-size: 1.8em;
	font-family: 'Raleway-ExtraLight';
	/*padding-top: 20px;*/
	color: #D9E1E4;
	padding-left: 40px;
	/*margin-left: 190px;*/
	padding-right: 400px;
}
.inner_text_tile3
{
	font-size: 1.8em;
	font-family: 'Raleway-ExtraLight';
	/*padding-top: 20px;*/
	color:  #E4CD56;
	padding-left: 40px;
	/*margin-left: 190px;*/
	padding-right: 600px;
}
.inner_text_tile4
{
	font-size: 1.8em;
	font-family: 'Raleway-ExtraLight';
	/*padding-top: 20px;*/
	color:  black;
	padding-left: 1000px;
	margin-top: -260px;
	font-weight: 600;
}
.inner_text_tile5
{
	font-size: 1.8em;
	font-family: 'Raleway-ExtraLight';
	/*padding-top: 20px;*/
	color:  white;
	padding-left: 780px;
	margin-top: 320px;
}
.side1_inner_text
{
	color: #2288B7;
	font-size: 2em;
	font-family: 'Raleway-ExtraLight';
}
.side1_inner_text_tile2
{
	color: #2288B7;
	font-size: 1.8em;
	font-family: 'Raleway-ExtraLight';
}
.side1_inner_text_tile4
{
	color: red;
	font-size: 1.8em;
	font-family: 'Raleway-ExtraLight';
}
.side_text
{
  font-size: 2em;
 font-family: 'Raleway-ExtraLight';
}
.side_text_tile2
{
	font-size: 2em;
	color: #D9E1E4;
	font-family: 'Raleway-ExtraLight';
}
.side_text_tile3
{
font-size: 1.8em;
  font-family: 'Raleway-ExtraLight';
  color:  #E4CD56;
}
.side_text_tile4
{
font-size: 1.8em;
  font-family: 'Raleway-ExtraLight';
  color:  black;	
}
.side_text_tile5
{
	font-size: 1.8em;
  font-family: 'Raleway-ExtraLight';
  color:  white;	
}
.link
{
  color: red !important;
  font-size: 3em !important;
  font-family: 'Raleway-ExtraLight';
  font-weight: 800;
}
.link_tile5
{
 color: red !important;
  font-size: 3em !important;
  font-family: 'Raleway-ExtraLight';
  font-weight: 800;	
  font-weight: bolder;
  margin-top: -150px;
  padding-left: 80px;
}


.side{
	margin-top: -190px;
	text-align: left;
	padding-left: 40px;
	font-family: 'Raleway-ExtraLight';
	font-weight: 800;
}



.side2
{
	/*margin-top: -80px;*/
	text-align: left;
	padding-left: 40px;
	padding-top: -10px;
	font-family: 'Raleway-ExtraLight';
	font-weight: 400;

}
.side3
{
	text-align: left;
	padding-left: 40px;
	padding-top: 10px;
	font-family: 'Raleway-ExtraLight';
	font-weight: 400;

}
.side4
{
	
	padding-left: 1060px;
	/*margin-top: -400px;*/
	font-family: 'Raleway-ExtraLight';
	font-weight: 800;

}
.side5{
text-align: left;
	padding-left: 40px;
	margin-top: -150px;
	font-family: 'Raleway-ExtraLight';
	font-weight: 400;	
}
.side5_2
{
	text-align: left;
	padding-left: 340px;
	margin-top: -170px;
	font-family: 'Raleway-ExtraLight';
	font-weight: 400;
}
/* HTML5 display-role reset for older browsers */

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* -------------------------------- 

Main components 

-------------------------------- */

@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-x-fast {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #F98809;
}
.cd-timeline-img.cd-movie {
  background: #FFD521;
}
.cd-timeline-img.cd-location {
  background: #99D6E3;

}
.cd-timeline-img.cd-3 {
  background: #EF4646;
}
.cd-timeline-img.cd-4 {
  background: #2288B7;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
 
  border-radius: 0.25em;
  padding: 1em;
  
  
}


.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
 
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    /*border-left-color: white;*/
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    /*border-right-color: white;*/
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/*===========================Cultural Events Page CSS Ends================================================*/
/*===========================Timeline Page CSS Starts================================================*/
.bodyTimeline{
background-color:#666362;
color:#fff;
opacity:0.9;
}

.page-header > h1{
font-family: 'Frijole', cursive;
}

h3.timeline-title{
font-family:'Permanent marker', cursive;
font-size:30px;
}

small.text-muted {
font-family:'Ubuntu',cursive;
color:#fff;
}

input + button{
font-family: 'Freckle Face', cursive;
font-size:20px;
border:2px solid #666362;
border-bottom-left-radius:20px;
border-top-right-radius:20px;
-webkit-box-shadow:-20px 15px 100px rgba(255,255,255, 0.3);
box-shadow:-20px 15px 100px rgba(255,255,255, 0.3);
background-color:rgba(0,0,0,0.4);
}

.day_number{
text-align:center;
}


ul{
list-style:none;
}

.timeline{
padding:20px 0px 20px 0px;
position:relative;
}

.timeline.day1:before,.timeline.day2:before,.timeline.day3:before {
top:0;
bottom:0;
position:absolute;
width:3px;
left:50%;
background-color:black;
content:"";
margin-left:-1.5px;
opacity:0.5;
}


.timeline > li > div > .timeline_time{
font-size:20px;
background-color:#ccc;
color:#fff;
font-family:comic sans ms ;
text-align:center;
position:relative;
height:70px;
width:70px;
left:50%;
line-height:70px;
border-radius:50px;
border-top-left-radius:0px;
border-bottom-right-radius:0px;
margin-left:-35px;
z-index:100;
background-color:#34282C;
-webkit-box-shadow:;
box-shadow:-5px 5px 100px rgba(255,255,255,0.4);
}
.timeline >li {
	display:block;
}
.timeline >li:after{
clear:both;
}

.timeline > li > div > .timeline-panel {
border:1px solid #666362;
border-top-left-radius:40px;
border-bottom-right-radius:40px;
position:relative;
width:40%;
margin-top:-50px;
padding-left:20px;
left:4%;
-webkit-box-shadow: -20px 10px 100px rgba(255,255, 255, 0.4);
box-shadow: -20px 10px 100px rgba(255,255,255, 0.4);
background-color:#504a4b;
}

.timeline-heading{
padding-left:30px;
}

.timeline > li > div > .timeline-inverted {
border-radius:0px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
position:relative;
left:56%;
margin-bottom:30px;
margin-top:-83px;
-webkit-box-shadow: 20px 10px 100px rgba(255,255,255, 0.4);
box-shadow: 20px 10px 100px rgba(255,255,255, 0.4);
}

.timeline > li > div > .timeline-panel.one{
margin-bottom:40px;
}

.timeline > li > div > .timeline-panel.timeline-inverted.one {
margin-top:-50px ;
}

.timeline > li > div > .four {
margin-top :-165px;
} 


.timeline-title{
text-align:center;
margin-left:-50px;
}

.container > .day1 {
position:relative;
}

.container > .day2 {

position:relative;
top:-600px;
left:110%;
}

.container > .day3 {
position:relative;
top:-1200px;
left:110%;
}

div.container {
height:1000px;
width:100%;
overflow:hidden;
}

input {
  -webkit-appearance: none;
  -moz-appearance:checkbox;
  appearance: none;
  position: relative;
  top: 13.33333px;
  width: 80px;
  height: 40px; 
  border: 0px;
  cursor: pointer;
  display: inline-block;
  opacity:0;
  z-index: 100;  

}

input#day1{
margin-left:10%;
}

input + button{
margin-left:-80px;
height:40px;
width:80px;
}

input[type="radio"]:hover + button{
background-color:rgba(0,0,0,0.8);
}

input[type="radio"]:checked + button{
background-color:rgba(0,0,0,0);
}

@media (max-width:767px){
.timeline > li > div > .timeline-panel {
left:0%;
}
.timeline > li > div > .timeline-inverted {
left:60%;
}
h3.timeline-title{

font-size:22px;
}

.container > .day2 {
top:-500px;
}

.container > .day3 {
top:-1000px;
}
}
@media (max-width:650px){

h3.timeline-title{
font-size:30px;
}


input[type="radio"]#day1 {
margin-left:10%;
}

.timeline.day1:before,.timeline.day2:before,.timeline.day3:before {
left:40px;

}

div.container{
height:1200px;
}
.timeline > li > div > .timeline_time {
left:40px;
}
.timeline > li > div {
margin-bottom:80px;
}

.timeline > li > div > .timeline-panel{
left:100px;
width:70%;
border-radius:0px;
border-top-right-radius:40px;
}

.timeline > li > div > .timeline-inverted{
left:100px;
position:relative;
top:85px;
border-radius:0px;
border-bottom-left-radius:40px;
}

.timeline > li > div > .timeline-panel.one{
border-bottom-left-radius:40px;
margin-bottom:-80px;
}


.timeline > li > div > .timeline-panel.timeline-inverted.one {
margin-top:-130px ;
margin-bottom:0px;
border-top-right-radius:40px;
}

.timeline > li > div > .four {
top:185px;
}


.container > .day2 {
top:-630px;
}

.container > .day3 {
top:-1260px;
}
}



input[type="radio"]#day1:checked ~ ul.day1 , input[type="radio"]#day2:checked ~ ul.day2 ,input[type="radio"]#day3:checked ~ ul.day3{
visibility:visible;
-webkit-animation: entry 2s ease-out; /* Chrome, Safari, Opera */
animation: entry 2s ease-out;
left:0%;
}

input[type="radio"]#day1:checked ~ ul.day2,input[type="radio"]#day1:checked ~ ul.day3,input[type="radio"]#day2:checked ~ ul.day1,input[type="radio"]#day2:checked ~ ul.day3,input[type="radio"]#day3:checked ~ ul.day1,input[type="radio"]#day3:checked ~ ul.day2{
-webkit-animation: exit 1s linear;
animation:exit 1s linear;
left:110%;
}


@-webkit-keyframes entry {
    from {	
			left: 110%;
			visibility:hidden;
		}
	to {	left: 0%;
			visibility:visible;
		}
}

/* Standard syntax */
@keyframes entry {
    from {
			left:110%;
			visibility:hidden;}
    to {
			left: 0%;
			visibility:visible;
		}
}

@-webkit-keyframes exit {
    from {
			left: 0%;
			visibility:visible;
		}
    to {
		left: -110%;
		visibility:hidden;
		
		}
	
}

/* Standard syntax */
@keyframes exit {
    from {
			left:0%;
			visibility:visible;
			
		}
    to {
			left: -110%;
			visibility:hidden;
			
		}
	
}




	
	
	.timeline-panel.is-hidden , .timeline > li > div > .timeline_time.is-hidden {
    visibility: hidden;
  }
  .timeline-panel.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
  
  .timeline-panel.inverted.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }


.timeline > li > div > .timeline_time.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/*===========================Timeline Page CSS Ends================================================*/