body{
background-color:#d4d4d4;
color:#fff;
}

h1{
font-family: 'Frijole', cursive;
}

h3{
font-family:'Ubuntu', cursive;
font-size:30px;
}

button{
font-family: 'Freckle Face', cursive;
font-size:20px;
border:2px solid rgba(0,0,0,0.2);
border-bottom-left-radius:20px;
border-top-right-radius:20px;
-webkit-box-shadow:-20px 20px 100px rgba(0, 0, 0, 0.4);
box-shadow:-20px 20px 100px rgba(0, 0, 0, 0.4);
}

.day_number{
text-align:center;
}


ul{
list-style:none;
}

.timeline{
padding:20px 0px 20px 0px;
position:relative;
}

.timeline.day1:before,.timeline.day2:before,.timeline.day3:before {
top:0;
bottom:0;
position:absolute;
width:3px;
left:50%;
background-color:#eeeeee;
content:"";
margin-left:-1.5px;
}


.timeline > li > div > .timeline_time{
font-size:20px;
background-color:#ccc;
color:#fff;
font-family:comic sans ms ;
text-align:center;
position:relative;
height:70px;
width:70px;
left:50%;
line-height:70px;
border-radius:50px;
border-top-left-radius:0px;
border-bottom-right-radius:0px;
margin-left:-35px;
z-index:100;
}

.timeline >li:after{
clear:both;
}

.timeline > li > div > .timeline-panel {
border:1px solid #d4d4d4;
border-top-left-radius:40px;
border-bottom-right-radius:40px;
position:relative;
width:40%;
margin-top:-50px;
padding-left:20px;
left:4%;
-webkit-box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.4);
box-shadow: -20px 20px 100px rgba(0, 0, 0, 0.4);
}

.timeline > li > div > .timeline-inverted {
border-radius:0px;
border-top-right-radius:40px;
border-bottom-left-radius:40px;
position:relative;
left:56%;
margin-bottom:30px;
margin-top:-83px;
-webkit-box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.4);
box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.4);
}

.timeline > li > div > .four {
margin-top :-185px;
} 

.timeline-title{
text-align:center;
margin-left:-50px;
}

.container > .day1 {
position:relative;
}

.container > .day2 {

position:relative;
top:-600px;
left:110%;
}

.container > .day3 {
position:relative;
top:-1200px;
left:110%;
}

div.container {
height:1000px;
width:100%;
overflow:hidden;
}

input {
  -webkit-appearance: none;
  -moz-appearance:checkbox;
  appearance: none;
  position: relative;
  top: 13.33333px;
  width: 80px;
  height: 40px; 
  border: 0px;
  cursor: pointer;
  display: inline-block;
  opacity:0;
  z-index: 100;  

}

input#day1{
margin-left:10%;
}

input + button{
margin-left:-80px;
height:40px;
width:80px;
}

@media (max-width:767px){
.timeline > li > div > .timeline-panel {
left:0%;
}
.timeline > li > div > .timeline-inverted {
left:60%;
}
h3{
font-family: 'Open Sans', sans-serif;
font-size:20px;
}

.container > .day2 {
top:-500px;
}

.container > .day3 {
top:-1000px;
}
}
@media (max-width:650px){

h3{
font-family: 'Open Sans', sans-serif;
font-size:30px;
}


input[type="radio"]#day1 {
margin-left:10%;
}

.timeline.day1:before,.timeline.day2:before,.timeline.day3:before {
left:40px;

}

div.container{
height:1200px;
}
.timeline > li > div > .timeline_time {
left:40px;
}
.timeline > li > div {
margin-bottom:80px;
}

.timeline > li > div > .timeline-panel{
left:100px;
width:70%;
border-radius:0px;
border-top-right-radius:40px;
}


.timeline > li > div > .timeline-inverted{
left:100px;
position:relative;
top:85px;

border-radius:0px;
border-bottom-left-radius:40px;
}

.timeline > li > div > .four {
top:185px;
}


.container > .day2 {
top:-800px;
}

.container > .day3 {
top:-1600px;
}
}


@media (max-width:500px){

h3{
font-family: 'Open Sans', sans-serif;
font-size:20px;
}

.container > .day2 {
top:-700px;
}

.container > .day3 {
top:-1400px;
}
}

input[type="radio"]#day1:checked ~ ul.day1 {
visibility:visible;
-webkit-animation: entry 3s ease-out; /* Chrome, Safari, Opera */
animation: entry 3s ease-out;
left:0%;
}

input[type="radio"]#day1:checked ~ ul.day2{
-webkit-animation: exit 2s;
animation:exit 2s;
left:110%;
}

input[type="radio"]#day1:checked ~ ul.day3{
-webkit-animation: exit 2s;
animation:exit 2s;
left:110%;
}

input[type="radio"]#day2:checked ~ ul.day2 {
visibility:visible;
-webkit-animation: entry 3s ease-out; /* Chrome, Safari, Opera */
animation: entry 3s ease-out;
left:0%;
}


input[type="radio"]#day2:checked ~ ul.day1{
-webkit-animation: exit 2s;
animation:exit 2s;
left:110%;

}

input[type="radio"]#day2:checked ~ ul.day3{
-webkit-animation: exit 2s;
animation:exit 2s;
left:110%;
}

input[type="radio"]#day3:checked ~ ul.day3 {
visibility:visible;
-webkit-animation: entry 3s ease-out ; /* Chrome, Safari, Opera */
animation: entry 3s ease-out ;
left:0%;

}

input[type="radio"]#day3:checked ~ ul.day1{
-webkit-animation: exit 2s;
animation:exit 2s;
left:110%;
}

input[type="radio"]#day3:checked ~ ul.day2{
-webkit-animation: exit 2s;
animation:exit 2s;
left:110%;
}

@-webkit-keyframes entry {
    from {	
			left: 110%;
			visibility:hidden;
		}
	to {	left: 0%;
			visibility:visible;
		}
}

/* Standard syntax */
@keyframes entry {
    from {
			left:110%;
			visibility:hidden;}
    to {
			left: 0%;
			visibility:visible;
		}
}

@-webkit-keyframes exit {
    from {
			left: 0%;
			visibility:visible;
		}
    to {
		left: -110%;
		visibility:hidden;
		
		}
	
}

/* Standard syntax */
@keyframes exit {
    from {
			left:0%;
			visibility:visible;
			
		}
    to {
			left: -110%;
			visibility:hidden;
			
		}
	
}